
<!DOCTYPE html>
<html>
  <head>
    <title>New Message</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>â• Add a New Message</h1>
    <form action="/new" method="POST">
      <input type="text" name="messageUser" placeholder="Your Name" required />
      <br />
      <input type="text" name="messageText" placeholder="Your Message" required />
      <br />
      <input type="submit" value="Submit" />
    </form>
    <br />
    <a href="/"><button>â¬… Back to Messages</button></a>
  </body>
</html>
